/** CSS STYLE **/
@font-face {
  font-family: 'Neucha';
  src: url('./fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('./fonts/OpenSans-Regular.ttf')
}

html {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}

.headers {
  font-family: Neucha;
  line-height: 1.2em;
}

h1 {
  72px;
}

h2 {
  60px;
}

h3 {
  34px;
}

section {
  max-width: 1110px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
